*{
    @import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Delius&family=Itim&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    font-family: "Poppins", sans-serif;
}
body{
    background: black;
}

#div1{
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
}

#nav1{
    display: flex;
    gap: 50px;
}

#nav2{
    margin-left: 600px;
    display: flex;
    gap: 30px;
}

a{
    color: rgb(105, 103, 103);
    text-decoration: none;
}

hr{
    margin-top: 50px;
    color: rgb(34, 33, 33);
}

h1{
    font-size: 72px;
    margin-left: 30px;
    color: aliceblue;
}

.grey{
    color: rgb(105, 103, 103);
}