@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

#table{
    border-collapse: collapse;
}

th{
    color: black;
    background-color: whitesmoke;
    font-family: "Merriweather", serif;
    border: solid;
}

td{
    color:cornflowerblue;
    font-family: "Nunito", sans-serif;
    background-color: #FFFFFF;
    border: solid slategray;
}

h1{
   font-family: "Oswald", sans-serif;
   color: lightsteelblue;
   text-align: center;
}

