*{
    background-color: #023047;
}
#btn1{
    width:100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #219ebc;
    margin-top: 50px;
    margin-left: -140px;
    margin-top: 80px;
}

#btn2{
    width:100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #8ecae6;
    margin-top: 80px;
}

div{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    gap: 20px;
}

#h1{
    
    color: white
}